.no-select {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root
{
    --tileGreen1:#B3D565;
    --tileGreen2:#ACCF5E;
    --tileBeige1:#DFC3A3;
    --tileBeige2:#D2B99D;

    --white:#E2E4E8;
    --black:#25292E;

    --blue:#182335;
    --red:#e15546;
    --pink:#eeaf9d;
    --beige:#eae4cc;
    /* --navy:#01204e; */
}
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a
{
    color: black;
    text-decoration: none;
}
body
{
    background-color: var(--blue);
    color: var(--beige);
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* height: 1vh; */
}
#title
{
    margin-top: .5em;
    font-family: "Honk", system-ui;
}
#n_mines
{
    margin-top: 0em;
    font-family: 'Courier New', Courier, monospace;
}
#timeDisplay
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

table
{
    margin-top: .3em;
    /* border-collapse: collapse; */
    border: .5em solid var(--beige);
    border-radius: .5em;
}
td
{
    /* background-color: #efefef; */
    /* border: 1px solid black; */
    width: 1.3em;
    height: 1.3em;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.unrevealed
{
    background-color: var(--red);
}
.revealed
{
    background-color: var(--pink);
}
.bottom
{
    display: flex;
    gap: 1em;
}
#reset, #mode
{
    background-color: var(--beige);
    font-family: "Honk", system-ui;
    color: var(--blue);
    margin-top: .3em;
    font-size: 1em;
    padding: .3em 1em;
    border-radius: .3em;
}

@media(max-width:768px)
{
    body
    {
        font-size: 26px;
    }
    td
    {
        /* font-size: 1em; */
        /* min-width: 1em; */
        /* min-height: 1em; */
    }
    .bottom
    {
        position: fixed;
        bottom: 1em;
    }
}